extends layout

block content
    body
        .wrap-header
            .container
                .row
                    .col-lg-12
                        .intro-text
                            .intro-heading(style='color:#98C879') About Me
                            .inro-lead-in Sasha Malkovich is an experienced electronic music producer from Russia. Having worked in collaboration with famous pop music projects for more than 20 years, Sasha found his own creative path in composing psychedelic chill out. Hi is the creator of magnificent musical atmospheres where the immersing mood of cosmic ambient is skillfully blended with energetic rhythms of progressive, and sunny dub lines are garnished with intense breakbeats. Nowadays Sasha enjoys performing his music live at parties around the globe, inspiring the listeners to expand their creative boundaries.
                        a.btn.btn-1(href='/music') My Music
                        a.btn.btn-2(href='/controllers') My Controllers



