extends layout

block content
    header#page-top
        .wrap-header
            .container
                .row
                    .col-lg-12
                        .intro-text
                            .intro-heading(style='color:#98C879') CONTROLLERS
                            .intro-lead-in This is Really a Great Day! My Friends! Welcome to My World!
                        a.btn.btn-1(href='/music') My Music
                        a.btn.btn-2(href='/controllers') My Controllers



