extends layout

block content


  h1= title

  ul.list-group
    each val, index in ['zero', 'one', 'two']
      li.list-group-item= index + ': ' + val

  p Welcome to WELMATRON #{title}
  a(class='button' href='google.com') Google
  |
  |
  a(class='button', href='google.com') Google