extends layout

block content
    body
        .wrap-header
            .container
                .row
                    .col-lg-12
                        .intro-text
                            .intro-heading(style='color:#98C879') My Music
                            .intro-lead-in This page is under construction. Coming Soon.
                        a.btn.btn-1(href='/about') About Me
                        a.btn.btn-2(href='/controllers') My Controllers

        .flex-wrap
            .flex-row
                .col-sm
                    .intro-lead-in Microcosmos Records is proud to present the debut album by Sasha Malkovich called Practical Levitation.

                    .intro-lead-in Sasha Malkovich is an experienced electronic music producer from Russia. Having worked in collaboration with famous pop music projects for more than 20 years, Sasha found his own creative path in composing psychedelic chill out. He is the creator of magnificent musical atmospheres where the immersing mood of cosmic ambient is skillfully blended with energetic rhythms of progressive, and sunny dub lines are garnished with intense breakbeats. Nowadays Sasha enjoys performing his music live at parties around the globe, inspiring the listeners to expand their creative boundaries. The air of live session is gently brought to the sound of the new album.

                    .intro-lead-in Practical Levitation takes us on a smooth musical journey floating through the warm air of summer, filled with joy and happiness. From rhythmic ethnical percussion blending with soft synth pads, deep warm bass melting into brilliant music arrangements, the album paints new grounds and gives the real soothing pleasure of a slow dive in senses for the listener.

                    .intro-lead-in Listen to Practical Levitation album and join the emotive hovering experience to immerse in a meditative state of love and joy.

                    .col-12
                        .img-rounded
                            img.img-fluid(itemtype='image/jpg' src='/images/practical_levitation.jpg')

        .flex-wrap
            .flex-row
                .col-sm
                    .col-12.col-md-12.text-about
                     P
                        | Microcosmos Records is delighted to present the new album Quantum Certainty by Sasha Malkovich.
                        | Sasha Malkovich is an electronic music producer from Russia. After his more than 20-years-long experience in collaboration with famous pop music projects, Sasha launched his own creative career in composing psychedelic chillout. He is the creator of magnificent music atmospheres where the immersing mood of cosmic ambient is skillfully blended with energetic rhythms of progressive together with groovy breakbeat incursions. His debut album Practical Levitation was released in 2018 at Microcosmos Records which led to Sasha gaining appreciation as a brilliant master of his genre.
                     P Quantum Certainty album maintains the concept of the previous author’s works to investigate in his music the connection between the Observer and the Universe through the blend of science and magic, revealing the immersive puzzle of fantasy and reality. The album treats us to a mystical and meditative music hyperspace filling with exquisite balmy audio feelings.
                        | Touch the magic with turning on Quantum Certainty by Sasha Malkovich and Microcosmos Records!
                .col-12
                    .img-rounded
                        img.img-fluid(itemtype='image/jpg' src='/images/quantum_sertainty.jpg')
                .col-12
                    .widget.wid-gallery
                        .heading
                            h4 Gallery
                        .content
                            .row
                                .col-xs-4
                                    a(href='#')
                                        img(src='images/p-1.jpg')
                                    a(href='#')
                                        img(src='images/p-2.jpg')
                                    a(href='#')
                                        img(src='images/p-3.png')
                                    a(href='#')
                                        img(src='images/p-4.png')
                                    a(href='#')
                                        img(src='images/p-3.png')
                                .col-xs-4
                                    a(href='#')
                                        img(src='images/6.png')
                                    a(href='#')
                                        img(src='images/7.jpg')
                                    a(href='#')
                                        img(src='images/8.jpg')
                                .col-xs-4
                                    a(href='#')
                                        img(src='images/7.jpg')
                                    a(href='#')
                                        img(src='images/9.jpg')
                                    a(href='#')
                                        img(src='images/6.jpg')
    .container
        .row.justify-content-center
            .col-12.col-md-6.video.embed-responsive.embed-responsive-16by9
                iframe(width='560' height='315' src='https://www.youtube.com/embed/t6_gqHOoNqw' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
            .col-12.col-md-6.video.embed-responsive.embed-responsive-16by9
                iframe(width='560' height='315' src='https://www.youtube.com/embed/o_jA1MrMohE' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
            .col-12.col-md-8.text-about
                p
                    | I always knew that I would write music. And even did it from childhood.
                p Over the years, my music became more interesting and deeper.
                p
                    | And once I discovered that the music is already much deeper than me, and it’s time to develop myself, The beginning of this familiarity with music. With Real Music That Just Like It.
    .container
        .row.justify-content-center
            .col-12.col-md-6.video.embed-responsive.embed-responsive-16by9
                iframe(width='100%' height='300' scrolling='no' frameborder='no' allow='autoplay' src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/279684687&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true')
            .col-12.col-md-6.video.embed-responsive.embed-responsive-16by9
                iframe(width='100%' height='300' scrolling='no' frameborder='no' allow='autoplay' src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/591793458&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true')

